snippet ** "Bold" A
**$1**$0
endsnippet

snippet __ "Italic" A
__$1__$0
endsnippet

snippet url "Url"
[$1](https://$2)$0
endsnippet

snippet urlg "Url"
[$1](https://github.com/$2)$0
endsnippet

snippet urlgmy "Url"
[$1](https://github.com/SingularisArt/$2)$0
endsnippet

snippet img "Image"
![$1]($2)$0
endsnippet
