[submodule "my-custom-snippets"]
	path = UltiSnips
	url = https://github.com/SingularisArt/snippets
[submodule "null-ls.nvim"]
	path = pack/bundle/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "nvim-lspconfig"]
	path = pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "lspkind-nvim"]
	path = pack/bundle/opt/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim
[submodule "lspsaga.nvim"]
	path = pack/bundle/opt/lspsaga.nvim
	url = https://github.com/tami5/lspsaga.nvim
[submodule "nvim-lsp-installer"]
	path = pack/bundle/opt/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer
[submodule "trouble.nvim"]
	path = pack/bundle/opt/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "fidget.nvim"]
	path = pack/bundle/opt/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "nlsp-settings.nvim"]
	path = pack/bundle/opt/nlsp-settings.nvim
	url = https://github.com/tamago324/nlsp-settings.nvim
[submodule "symbols-outline.nvim"]
	path = pack/bundle/opt/symbols-outline.nvim
	url = https://github.com/simrat39/symbols-outline.nvim
[submodule "nvim-cmp"]
	path = pack/bundle/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp-cmdline"]
	path = pack/bundle/opt/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "cmp-buffer"]
	path = pack/bundle/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "cmp-path"]
	path = pack/bundle/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "cmp-nvim-lsp"]
	path = pack/bundle/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "cmp-nvim-ultisnips"]
	path = pack/bundle/opt/cmp-nvim-ultisnips
	url = https://github.com/quangnguyen30192/cmp-nvim-ultisnips
[submodule "copilot.vim"]
	path = pack/bundle/opt/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "cmp-latex-symbols"]
	path = pack/bundle/opt/cmp-latex-symbols
	url = https://github.com/kdheepak/cmp-latex-symbols
[submodule "cmp-emoji"]
	path = pack/bundle/opt/cmp-emoji
	url = https://github.com/hrsh7th/cmp-emoji
[submodule "cmp-calc"]
	path = pack/bundle/opt/cmp-calc
	url = https://github.com/hrsh7th/cmp-calc
[submodule "cmp-tabnine"]
	path = pack/bundle/opt/cmp-tabnine
	url = https://github.com/tzachar/cmp-tabnine
[submodule "cmp-spell"]
	path = pack/bundle/opt/cmp-spell
	url = https://github.com/f3fora/cmp-spell
[submodule "rust-tools.nvim"]
	path = pack/bundle/opt/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim
[submodule "tex-conceal.vim"]
	path = pack/bundle/opt/tex-conceal.vim
	url = https://github.com/KeitaNakamura/tex-conceal.vim
[submodule "vim-tex-kawaii"]
	path = pack/bundle/opt/vim-tex-kawaii
	url = https://github.com/anufrievroman/vim-tex-kawaii
[submodule "MatchTagAlways"]
	path = pack/bundle/opt/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "vim-closetag"]
	path = pack/bundle/opt/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "emmet-vim"]
	path = pack/bundle/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vimtex"]
	path = pack/bundle/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim-solidity"]
	path = pack/bundle/opt/vim-solidity
	url = https://github.com/TovarishFin/vim-solidity
[submodule "colorizer"]
	path = pack/bundle/opt/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "playground"]
	path = pack/bundle/opt/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "nvim-treesitter"]
	path = pack/bundle/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "colorbuddy.nvim"]
	path = pack/bundle/opt/colorbuddy.nvim
	url = https://github.com/tjdevries/colorbuddy.nvim
[submodule "telescope-file-browser.nvim"]
	path = pack/bundle/opt/telescope-file-browser.nvim
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim
[submodule "telescope-fzy-native.nvim"]
	path = pack/bundle/opt/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
[submodule "telescope-ui-select.nvim"]
	path = pack/bundle/opt/telescope-ui-select.nvim
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim
[submodule "telescope-media-files.nvim"]
	path = pack/bundle/opt/telescope-media-files.nvim
	url = https://github.com/nvim-telescope/telescope-media-files.nvim
[submodule "plenary.nvim"]
	path = pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "telescope.nvim"]
	path = pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "vim-snippets"]
	path = pack/bundle/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "UltiSnips"]
	path = pack/bundle/opt/UltiSnips
	url = https://github.com/SirVer/UltiSnips
[submodule "custom-snippets"]
	path = pack/bundle/opt/custom-snippets
	url = https://github.com/SingularisArt/custom-snippets
[submodule "nvim-web-devicons"]
	path = pack/bundle/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "zen-mode.nvim"]
	path = pack/bundle/opt/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim
[submodule "twilight.nvim"]
	path = pack/bundle/opt/twilight.nvim
	url = https://github.com/folke/twilight.nvim
[submodule "nvim-tree.lua"]
	path = pack/bundle/opt/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "dashboard-nvim"]
	path = pack/bundle/opt/dashboard-nvim
	url = https://github.com/glepnir/dashboard-nvim
[submodule "sidebar.nvim"]
	path = pack/bundle/opt/sidebar.nvim
	url = https://github.com/sidebar-nvim/sidebar.nvim
[submodule "nightfox.nvim"]
	path = pack/bundle/opt/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "pinnacle"]
	path = pack/bundle/opt/pinnacle
	url = https://github.com/wincent/pinnacle
[submodule "lualine.nvim"]
	path = pack/bundle/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "lsp-status.nvim"]
	path = pack/bundle/opt/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "bufferline.nvim"]
	path = pack/bundle/opt/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
[submodule "gitsigns.nvim"]
	path = pack/bundle/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "vim-rhubarb"]
	path = pack/bundle/opt/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim-fugitive"]
	path = pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim-dap"]
	path = pack/bundle/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim-dap-ui"]
	path = pack/bundle/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim-dap-virtual-text"]
	path = pack/bundle/opt/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "nerdcommenter"]
	path = pack/bundle/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "markdown-preview.nvim"]
	path = pack/bundle/opt/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "vim-easymotion"]
	path = pack/bundle/opt/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim-surround"]
	path = pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim-base16.lua"]
	path = pack/bundle/opt/nvim-base16.lua
	url = https://github.com/NvChad/nvim-base16.lua
[submodule "lazygit.nvim"]
	path = pack/bundle/opt/lazygit.nvim
	url = https://github.com/kdheepak/lazygit.nvim
[submodule "project.nvim"]
	path = pack/bundle/opt/project.nvim
	url = https://github.com/ahmedkhalf/project.nvim
[submodule "which-key.nvim"]
	path = pack/bundle/opt/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "vim-translator"]
	path = pack/bundle/opt/vim-translator
	url = https://github.com/voldikss/vim-translator
[submodule "vim-table-mode"]
	path = pack/bundle/opt/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "nvim-autopairs"]
	path = pack/bundle/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "toggleterm.nvim"]
	path = pack/bundle/opt/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
[submodule "nvim-notify"]
	path = pack/bundle/opt/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
[submodule "nvim-ts-rainbow"]
	path = pack/bundle/opt/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow
[submodule "Comment.nvim"]
	path = pack/bundle/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
[submodule "vim-highlightedyank"]
	path = pack/bundle/opt/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "nvim-workbench"]
	path = pack/bundle/opt/nvim-workbench
	url = https://github.com/marcushwz/nvim-workbench
[submodule "vim-wakatime"]
	path = pack/bundle/opt/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule "pretty-fold.nvim"]
	path = pack/bundle/opt/pretty-fold.nvim
	url = https://github.com/anuvyklack/pretty-fold.nvim
[submodule "nvim-scrollbar"]
	path = pack/bundle/opt/nvim-scrollbar
	url = https://github.com/petertriho/nvim-scrollbar
[submodule "nui.nvim"]
	path = pack/bundle/opt/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "nvim-gomove"]
	path = pack/bundle/opt/nvim-gomove
	url = https://github.com/booperlv/nvim-gomove
[submodule "vim-visual-multi"]
	path = pack/bundle/opt/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "undotree"]
	path = pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule "splitjoin.vim"]
	path = pack/bundle/opt/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "refactoring.nvim"]
	path = pack/bundle/opt/refactoring.nvim
	url = https://github.com/ThePrimeagen/refactoring.nvim
[submodule "vim-log-highlighting"]
	path = pack/bundle/opt/vim-log-highlighting
	url = https://github.com/mtdl9/vim-log-highlighting
[submodule "nvim-ts-autotag"]
	path = pack/bundle/opt/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag
[submodule "lua-dev.nvim"]
	path = pack/bundle/opt/lua-dev.nvim
	url = https://github.com/folke/lua-dev.nvim
[submodule "bracey.vim"]
	path = pack/bundle/opt/bracey.vim
	url = https://github.com/turbio/bracey.vim
[submodule "load-all.nvim"]
	path = pack/bundle/opt/load-all.nvim
	url = https://github.com/mrjones2014/load-all.nvim
[submodule "command-t"]
	path = pack/bundle/opt/command-t
	url = https://github.com/wincent/command-t
[submodule "pywal.nvim"]
	path = pack/bundle/opt/pywal.nvim
	url = https://github.com/AlphaTechnolog/pywal.nvim
[submodule "neogen"]
	path = pack/bundle/opt/neogen
	url = https://github.com/danymat/neogen
[submodule "vimade"]
	path = pack/bundle/opt/vimade
	url = https://github.com/TaDaa/vimade
[submodule "DAPInstall"]
	path = pack/bundle/opt/dapinstall
	url = https://github.com/Pocco81/DAPInstall.nvim
[submodule "nvim-dap-python"]
	path = pack/bundle/opt/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule "vim-test"]
	path = pack/bundle/opt/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "vim-ultest"]
	path = pack/bundle/opt/vim-ultest
	url = https://github.com/rcarriga/vim-ultest
[submodule "vim-docker-tools"]
	path = pack/bundle/opt/vim-docker-tools
	url = https://github.com/kkvh/vim-docker-tools
[submodule "nvim-remote-containers"]
	path = pack/bundle/opt/nvim-remote-containers
	url = https://github.com/jamestthompson3/nvim-remote-containers
[submodule "corpus"]
	path = pack/bundle/opt/corpus
	url = https://github.com/wincent/corpus
[submodule "base16-vim"]
	path = pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "is.vim"]
	path = pack/bundle/opt/is.vim
	url = https://github.com/haya14busa/is.vim
[submodule "vim-grepper"]
	path = pack/bundle/opt/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "vim-visual-star-search"]
	path = pack/bundle/opt/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule "replay"]
	path = pack/bundle/opt/replay
	url = https://github.com/wincent/replay
[submodule "ferret"]
	path = pack/bundle/opt/ferret
	url = https://github.com/wincent/ferret
[submodule "nvim-rg"]
	path = pack/bundle/opt/nvim-rg
	url = https://github.com/duane9/nvim-rg
[submodule "luasnip"]
	path = pack/bundle/opt/luasnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "cmp-luasnip"]
	path = pack/bundle/opt/cmp-luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "friendly-snippets"]
	path = pack/bundle/opt/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "gruvbox-nvim"]
	path = pack/bundle/opt/gruvbox-nvim
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "vim-tmux-navigator"]
	path = pack/bundle/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "kite"]
	path = pack/bundle/opt/kite
	url = https://github.com/kiteco/vim-plugin
[submodule "vscode_sidebar.nvim"]
	path = pack/bundle/opt/vscode_sidebar.nvim
	url = https://github.com/SingularisArt/vscode_sidebar.nvim
[submodule "xresources-nvim"]
	path = pack/bundle/opt/xresources-nvim
	url = https://github.com/nekonako/xresources-nvim
