[submodule "ls/lua-language-server"]
	path = ls/lua-language-server
	url = https://github.com/sumneko/lua-language-server
[submodule "lua/language-servers/rust"]
	path = lua/language-servers/rust
	url = https://github.com/rust-analyzer/rust-analyzer
[submodule "lua/language-servers/deno"]
	path = lua/language-servers/deno
	url = https://github.com/denoland/deno
[submodule "lua/language-servers/web"]
	path = lua/language-servers/web
	url = https://github.com/hrsh7th/vscode-langservers-extracted
[submodule "lua/language-servers/lua"]
	path = lua/language-servers/lua
	url = https://github.com/sumneko/lua-language-server
